/registry/actions/,,
/registry/certificatesigningrequests/,,
/registry/configmaps/,,
/registry/controllerrevisions/,,
/registry/cronjobs/,,
/registry/daemonsets/,,
/registry/deployments/,,
/registry/events/,,
/registry/horizontalpodautoscalers/,,
/registry/ingress/,,
/registry/jobs/,,
/registry/leases/,,
/registry/limitranges/,,
/registry/networkpolicies/,,
/registry/persistentvolumeclaims/,,
/registry/persistentvolumes/,,
/registry/poddisruptionbudgets/,,
/registry/podpresets/,,
/registry/pods/,,
/registry/podsecuritypolicies/,,
/registry/podsecuritypolicy/,,
/registry/podtemplates/,,
/registry/replicasets/,,
/registry/resourcequotas/,,
/registry/services/endpoints/,,
/registry/services/specs/,,
/registry/statefulsets/,,
/registry/volumeattachments/,,

