global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        # An alternative list with additional directives can be obtained from
        #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  {{ connection_timeout }}
        timeout server  {{ connection_timeout }}
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

frontend scale-out-proxy
    bind *:{{ proxy_port }} alpn h2,http/1.1

    acl node_request path_reg ^/api/([^/])*/nodes.*$
    acl lease_request path_reg ^/apis/coordination.k8s.io/([^/])*/leases.*$
    acl individual_lease_request path_reg ^/apis/([^/])*/([^/])*/tenants/system/namespaces/kube-node-lease/leases.*$

    acl non_resource_request_two path_reg ^/([^/])*/([^/])*$
    acl non_resource_request_one path_reg  ^/([^/])*$
    acl non_resource_request_three path_reg ^/apis/([^/])*/([^/])*$

    http-request redirect location {{ arktos_api_protocol }}://%ci:{{ arktos_api_port }}%[capture.req.uri] if non_resource_request_two OR non_resource_request_one OR non_resource_request_three
    use_backend resource_api if node_request OR lease_request OR individual_lease_request
    default_backend tenant_api

backend tenant_api
        server {{ tenant_partition_host }} {{ tenant_partition_ip }}:{{ arktos_api_port }} maxconn 2048

backend resource_api
        server {{ resource_partition_host }} {{ resource_partition_ip }}:{{ arktos_api_port }} maxconn 2048